[Unit]
Description=Run script-ghorg script to clone repositories

[Service]
Type=oneshot
ExecStart=/usr/local/bin/script-ghorg
PrivateTmp=true

[Install]
WantedBy=multi-user.target