[Unit]
Description=Backup with restic

[Service]
Type=oneshot
ExecStartPre=mkdir -p /tmp/restic-cache/
ExecStart=restic backup --verbose --one-file-system --cache-dir /tmp/restic-cache/ $BACKUP_EXCLUDES $BACKUP_PATHS
EnvironmentFile=/etc/restic-backup.conf