[Unit]
Description=Caddy container
After=network-online.target
Wants=network-online.target

[Container]
ContainerName=caddy
Image=docker.io/caddy:2
Network=host
AutoUpdate=registry
Volume={{ caddy_config_dir }}/conf:/etc/caddy:z
Volume={{ caddy_config_dir }}/data:/data:z

[Service]
Restart=always

[Install]
WantedBy=multi-user.target

