#!/usr/bin/env bash

sleep 15
curl -X POST \
    -H 'Content-Type: application/json' \
    -d "{\"chat_id\": ${CHAT_ID}, \"text\": \"SERVER {{ inventory_hostname }}\"}" \
    https://api.telegram.org/bot${BOT_TOKEN}/sendMessage
