[Unit]
Description=Invidious app container
After=invidious-db.service

[Service]
Restart=always

[Container]
ContainerName=invidious-app
EnvironmentFile={{ invidious_data_dir }}/invidious.env
Environment=INVIDIOUS_CONFIG_FILE=/invidious/config.yml
Image=quay.io/invidious/invidious:latest-arm64
Volume={{ invidious_data_dir }}/config.yml:/invidious/config.yml:Z
AutoUpdate=registry
Pod=invidious.pod

[Install]
WantedBy=default.target
