[Unit]
Description=Invidious companion container
Restart=on-failure
RestartSec=5

[Container]
ContainerName=invidious-companion
Image=quay.io/invidious/invidious-companion:latest
AutoUpdate=registry
Pod=invidious.pod
EnvironmentFile={{ invidious_data_dir }}/invidious.env
Volume={{ invidious_data_dir }}/companion_cache:/var/tmp/youtubei.js:Z

[Install]
WantedBy=default.target
