[Unit]
Description=Move movies application container

[Container]
ContainerName=move_movies
Image=ghcr.io/ksobrenat32/move-movies:latest
AutoUpdate=registry
Environment=CUID=0
Environment=TZ=America/Mexico_City
Volume={{ pyload_data_dir }}/downloads/Peliculas:/origin:z
Volume={{ media_dir }}/Movies/Downloads:/destiny:z

[Install]
WantedBy=default.target
