[Unit]
Description=Nextcloud application container

[Container]
ContainerName=nextcloud-app
Image=docker.io/library/nextcloud:30.0.3
Pod=nextcloud.pod
AutoUpdate=registry
Volume={{ nextcloud_data_dir }}/html:/var/www/html:z
Volume={{ nextcloud_data_dir }}/data:/opt/nextcloud:z

[Install]
WantedBy=default.target
