[Unit]
Description=Overleaf database container

[Container]
ContainerName=mongo
Image=docker.io/library/mongo:7.0
Pod=overleaf.pod
AutoUpdate=registry
Volume={{ overleaf_data_dir }}/mongo:/data/db:z
Exec=mongod --bind_ip_all --replSet overleaf

[Install]
WantedBy=default.target
