[Unit]
Description=Scholarships database container

[Container]
ContainerName=scholarships-db
Image=docker.io/library/postgres:latest
EnvironmentFile={{ scholarships_data_dir }}/config.env
AutoUpdate=registry
Pod=scholarships.pod
Volume={{ scholarships_data_dir }}/db:/code/db:z

[Install]
WantedBy=default.target
