[Unit]
Description=Stirling application container

[Container]
ContainerName=stirling
Image=docker.io/frooodle/s-pdf:latest
AutoUpdate=registry
Environment=DOCKER_ENABLE_SECURITY="false"
Environment=INSTALL_BOOK_AND_ADVANCED_HTML_OPS="false"
Environment=LANGS="en_GB"
PublishPort=3005:8080

[Install]
WantedBy=default.target
