[Unit]
Description=Run script-rest-server to run rest-server

[Service]
Type=simple
ExecStart=/usr/local/bin/script-rest-server
PrivateTmp=true

[Install]
WantedBy=multi-user.target